ERROR 3819 (HY000) at line 38: Check constraint 'chk_equipment_cost' is violated.
ERROR 3819 (HY000) at line 56: Check constraint 'chk_equipment_cost' is violated.
ERROR 3813 (HY000) at line 75: Column check constraint 'tutorial_badattempt_chk_1' references other column.
ERROR 3819 (HY000) at line 101: Check constraint 'chk_tutorial_time' is violated.
+----------+---------------+--------------+------------+
| hobby_id | name          | review_count | avg_rating |
+----------+---------------+--------------+------------+
|        1 | Rock Climbing |            2 |       4.50 |
+----------+---------------+--------------+------------+
+----------+---------------+--------------+------------+
| hobby_id | name          | review_count | avg_rating |
+----------+---------------+--------------+------------+
|        1 | Rock Climbing |            3 |       4.67 |
+----------+---------------+--------------+------------+
+----------+---------------+--------------+------------+
| hobby_id | name          | review_count | avg_rating |
+----------+---------------+--------------+------------+
|        1 | Rock Climbing |            4 |       4.25 |
+----------+---------------+--------------+------------+
